
#BackgroundIMG{
  width: 100%;
  /* height: 100%; */
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  pointer-events: none;
}
#HeadingHolder{
  display: flex;
  justify-content: center;
  text-align: center;
  /* background-color: red; */
  pointer-events: none;
  width: 100%;
  height: 200px;
  /* z-index: 10; */
}

@font-face {
  font-family: "MiniGarden";
  src: url("Fonts/Exquite.otf") format("truetype");
}
#Header{
  color: rgb(245, 245, 245);
  font-size: 100px;
  font-weight: 400;
  font-family: MiniGarden;
  font-weight: 700;
  position: absolute;
  top: -50px;
  text-shadow: 5px 5px rgba(44, 44, 44, 0.37);
}

#WhatIsBmiBtn{
  z-index: 100;
  position: absolute;
}

#InputsHolder{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#formHolder{
  background-color: rgba(95, 95, 95, 0.247);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: grid;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  position: inherit;
  top: 200px;
}

#weightInput, #heightInput{
  display: block;
  width: 200px;
  height: 35px;
  border-radius: 5px;
  border-style: none;
  outline: none;
  transition: .1s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: rgb(88, 88, 88);
  background-color: rgb(245, 245, 245);
}
#weightInput::placeholder, #heightInput::placeholder{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

#CalculateBMIBtn{
  width: 200px;
  height: 35px;
  border-radius: 5px;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: rgb(88, 88, 88);
  font-size: 20px;
  transition: .2s;
  background-color: rgb(245, 245, 245);

}
#CalculateBMIBtn:hover{
  cursor: pointer;
  background-color: rgba(214, 60, 13, 0.527);
  color: rgb(245, 245, 245);
}

#ScoreHolder{
  /* background-color: lightblue; */
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ScoreText{
  color: rgb(245, 245, 245);
  font-family: MiniGarden; 
  font-size: 50px;
  font-weight: 500;
}

