
#BackgroundIMG{
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
}
#HeadingHolder{
  display: flex;
  justify-content: center;
  text-align: center;
  /* background-color: red; */
  width: 100%;
  height: 200px;
  /* z-index: 10; */
}
#Header{
  color: white;
  font-size: 100px;
  position: absolute;
  top: -50px;
}
#InputsHolder{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

}

#formHolder{
  background-color: rgba(95, 95, 95, 0.247);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: grid;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  position: inherit;
  top: 200px;
}

#weightInput, #heightInput{
  display: block;
  width: 200px;
  height: 35px;
  border-radius: 5px;
  border-style: none;
  outline: none;
  transition: .1s;
}

/* #weightInput:hover, #heightInput:hover{
  background-color: #9A3B3B;
} */